{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block content %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Inner Page</li>
                </ol>
                <h2>Inner Page</h2>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <p>
                    Example inner page template
                </p>
            </div>
        </section>
    </main><!-- End #main -->
{% endblock %}