<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title_full %}Tiki - {% block title %}{% endblock %}{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="final project php-symfony">
        <meta name="author" content="Emmanuelle Ngan Ha NGUYEN">

        <!-- File CSS & style ================================================== -->
        <!-- Logo Icon -->
        <link rel="icon" type="image/x-icon" href="asset/img/tiki_logo_icon.png">
        <!-- Bootstrap Icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link href="asset/vendor/aos/aos.css" rel="stylesheet">
        <link href="asset/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="asset/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="asset/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="asset/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
        {% block stylesheets %}
            <!-- This file stores project-specific CSS -->
            <link href="/asset/css/base.css" rel="stylesheet">
        {% endblock %}

        <!-- File javascript ================================================== -->
        {# Placed at the top of the document so pages load faster with defer #}
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- Vendor JS Files -->
        <script src="asset/vendor/aos/aos.js"></script>
        <script src="asset/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="asset/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="asset/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="asset/vendor/waypoints/noframework.waypoints.js"></script>
        <script src="asset/vendor/php-email-form/validate.js"></script>
        <!-- AJAX - JQuery JS Files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Place project specific Javascript in this file -->
        <script defer src="/asset/js/base.js"></script>
        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        {{ include('navbar.html.twig') }}
        {% block content %} {% endblock %}
        <!-- Back to top -->
        {{ include('footer.html.twig') }}
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <div id="preloader"></div>
    </body>
</html>