<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <a href="/" class="logo me-auto"><img src="/asset/img/tiki_logo.png" alt="" class="img-fluid"></a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#ads">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li class="dropdown"><a class="nav-link scrollto" href="#latest-products"><span>Books</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Fantasy</a></li>
                        <li class="dropdown"><a href="#"><span>Science Fiction</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/book/1">Prophet Song</a></li>
                                <li><a href="/book/2">Murdle</a></li>
                                <li><a href="/book/3">Impossible Creatures</a></li>
                                <li><a href="/book/4">Yellowface</a></li>
                                <li><a href="/book/5">Days at the Morisaki Bookshop</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>Romance</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/book/6">Keira & Me</a></li>
                                <li><a href="/book/7">Good Material</a></li>
                                <li><a href="/book/8">Tomorrow, and Tomorrow, and Tomorrow</a></li>
                                <li><a href="/book/9">How They Broke Britain</a></li>
                                <li><a href="/book/10">GHOSTS: The Button House Archives</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#"><span>Thriller/Suspense</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/book/11">The Satsuma Complex</a></li>
                                <li><a href="/book/12">Lessons in Chemistry</a></li>
                                <li><a href="/book/13">The Ballad of Songbirds and Snakes</a></li>
                                <li><a href="/book/14">Really Good, Actually</a></li>
                                <li><a href="/book/15">Eve: How The Female Body ...</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Thriller/Suspense</a></li>
                        <li><a href="#">Horror</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="nav-link scrollto" href="/{{ user }}/cart"><img src="/asset/img/icon-cart.png" alt="" class="img-fluid" style="width: 30px;">
                        <div class="cart-number">{{ cart_rows_numbers }}</div>
                    </a>
                </li>
                <li><a class="nav-link scrollto" href="/search"><i class="bi bi-search" style="font-size: 22px"></i></a></li>
                <li><a class="login scrollto" id="loginButton" href="/login">Log in</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>